body {
    background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
    font-family: sans-serif;
}

.app{
    height: 100vh;
    width:	90%;
    margin: 20px auto;
}

h2{
    color: #352A3B;
}